.content-page-posts-post-title {
  margin-top: 16px;
}

.content-page-posts-header {
  margin-bottom: 20px;
}

.content-page-posts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.content-page-posts-btn {
  flex-shrink: 0;
}

.content-page-posts-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: url("../media/svg/cursor.svg") 5 5, pointer;
  text-transform: uppercase;
}

@media (max-width: 979px) {
  .content-page-posts-post-title {
    margin-top: 8px;
  }
}
