.content-page-hero {
  margin-top: 15vh;
}

.content-page-hero-links {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px var(--site-margin);
}

.content-page-contact-image {
  --ratio: 50%;
}

@media (max-width: 979px) {
  .content-page-hero:not(:only-child) {
    margin-bottom: 120px;
  }

  .content-page-hero .sxs {
    gap: 40px;
  }

  .content-page-hero-links {
    margin-top: 30px;
  }
}
