#Footer {
  padding: 0 0 40px;
  margin-top: 120px;
  border-top: 1px solid var(--color-light-grey);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 42px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: -1px 0;
}

.footer-row .menu-item {
  flex-shrink: 0;
  font-weight: 300;
  font-size: 4rem;
  display: flex;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: border 300ms linear, color 300ms linear;
}

.footer-row .menu-item a {
  display: flex;
  align-items: center;
}

.footer-row .menu-item.current-menu-item,
.single-case .menu-item-object-case /* When on a single case, mark Cases */ {
  border-top: 1px solid var(--color-dark);
}

.footer-row .menu-item:hover {
  color: var(--color-dark-grey);
  border-top: 1px solid var(--color-dark-grey);
}

.footer-communication {
  padding: 24px 0;
}

.footer-bottom {
  padding-top: 48px;
}

.footer-contact-links {
  display: flex;
  gap: 12px 24px;
  flex-wrap: wrap;
}

.footer-label {
  margin-bottom: 6px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 3rem;
}

.footer-copyright span {
  line-height: 1;
}

@media (max-width: 979px) {
  #Footer {
    padding: 24px 0;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-row {
    border-top: 1px solid var(--color-light-grey);
    border-bottom: 1px solid var(--color-light-grey);
  }
  
  .footer-row .menu-item {
    font-size: 3.5rem;
    padding: 24px 0;
    margin: -1px 0;
  }

  .footer-row .menu-item.current-menu-item {
    border-top: 1px solid transparent;
    border-bottom: 1px solid var(--color-dark);
  }

  .footer-row {
    gap: 20px;
  }
}
