#Footer {
  padding: 120px 0 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-row .menu-item {
  flex-shrink: 0;
  font-weight: 300;
  font-size: 4rem;
}

.footer-row .menu-item:hover a,
.footer-row .current_page_item a {
  text-decoration: underline;
}

.footer-contact-links {
  display: flex;
  gap: 12px 24px;
  flex-wrap: wrap;
}

.footer-label {
  margin-bottom: 6px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 3rem;
  margin-top: 40px;
}

.footer-copyright span {
  line-height: 1;
}

@media (max-width: 979px) {
  #Footer {
    padding: 40px 0;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-row .menu-item {
    font-size: 3.5rem;
  }

  .footer-row {
    gap: 20px;
  }
}
