.front-page-intro-link {
  margin-top: 20px;
}

.front-page-cases,
.front-page-art {
  margin-top: 240px;
}

.front-page-scroller {
  min-height: 200vh;
  position: sticky;
  top: 0;
  filter: blur(calc(var(--fade-progress) * 0.5px));
  cursor: url("../media/svg/cursor-scroll.svg") 26 26, auto;
}

.front-page-scroller-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding-top: 2.5vh;
}

.front-page-scroller-title {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  display: flex;
  gap: 0.1em;
  font-size: 30vh;
  line-height: 1;
}

.front-page-scroller-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.front-page-scroller-title-name,
.front-page-scroller-title-portfolio {
  white-space: nowrap;
  display: block;
  flex: 0 0 auto;
  transform-origin: top right;
}

.front-page-scroller-title-name {
  padding: 0 1em;
}

.front-page-scroller-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: flex-end;
  padding: var(--site-margin);
  width: 100%;
}

.front-page-scroller-links .link-large {
  font-size: 4rem;
}

.front-page-main-wrapper {
  position: relative;
  background-color: var(--color-light);
}

.front-page-scroller-notification {
  display: flex;
  width: 100%;
  font-size: 4rem;
  padding: 0 var(--site-margin);
  animation: blink 2s linear infinite;
  overflow: hidden;
}

@keyframes blink {
  50% {
    opacity: 0.1;
  }
}

@media (max-width: 979px) {
  .front-page-cases,
  .front-page-art {
    margin-top: 80px;
  }

  .front-page-scroller-content {
    padding-top: 0;
  }
  
  .front-page-scroller-title {
    flex: 1 0 auto;
    align-items: center;
  }

  .front-page-scroller-title {
    font-size: 15vh;
  }

  .front-page-scroller-notification {
    padding: var(--site-margin);
    justify-content: flex-end;
    order: -1;
  }
}

@media (min-width: 980px) {
  .front-page-cases .content-page-posts-post-count-0 {
    --ratio: 50%;
    flex: 0 0 100%;
  }

  .front-page-scroller-notification {
    display: none;
  }
}