#Header {
  padding: 14px 0;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
}

#Header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Header-icon {
  display: inline-block;
  width: 60px;
}

#Header-icon svg {
  display: block;
  width: 100%;
  height: auto;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.header-row .menu-item {
  flex-shrink: 0;
  font-weight: 300;
  font-size: 5rem;
}

.header-row .menu-item a {
  backdrop-filter: invert(1);
}

.header-row .menu-item:hover a,
.header-row .current_page_item {
  text-decoration: underline;
}

.js-mobile-menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
}

.js-mobile-menu-btn::before,
.js-mobile-menu-btn::after {
  content: "";
  display: block;
  background-color: var(--color-dark);
  height: 1px;
  width: 80%;
  position: absolute;
  left: 10%;
  backdrop-filter: invert(1);
}

.js-mobile-menu-btn::before {
  top: 33%;
}

.js-mobile-menu-btn::after {
  bottom: 33%;
}

.mobile-menu-open .js-mobile-menu-btn::before,
.mobile-menu-open .js-mobile-menu-btn::after {
  top: 50%;
}

.mobile-menu-open .js-mobile-menu-btn::before {
  transform: translateY(-0.5px) rotate(45deg);
}

.mobile-menu-open .js-mobile-menu-btn::after {
  transform: translateY(-0.5px) rotate(-45deg);
}

.js-mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: var(--site-margin);
  background-color: var(--color-light);
  display: flex;
  align-items: center;
  z-index: 1;
}

body:not(.mobile-menu-open) .js-mobile-menu {
  display: none;
}

.js-mobile-menu .menu {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 8rem;
  font-weight: 300;
}

@media (max-width: 979px) {
  #Header-icon {
    width: 40px;
  }
}
