#Header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: var(--color-light);
  transition: transform 300ms linear;
  border-bottom: 1px solid var(--color-light-grey);
}

.front-page-main-wrapper #Header {
  position: sticky;
}

#Header-content {
  display: flex;
  justify-content: space-between;
}

#Header-icon {
  display: inline-block;
  width: 52px;
  padding: 12px 0;
}

#Header-icon svg {
  display: block;
  width: 100%;
  height: auto;
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin: -1px 0;
}

.header-row .menu-item {
  flex-shrink: 0;
  font-weight: 300;
  font-size: 4rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  display: flex;
  transition: border 300ms linear, color 300ms linear;
}

.header-row .menu-item a {
  display: flex;
  align-items: center;
}

.header-row .menu-item.current-menu-item,
.single-case .menu-item-object-case /* When on a single case, mark Cases */ {
  border-bottom: 1px solid var(--color-dark);
}

.header-row .menu-item:hover {
  color: var(--color-dark-grey);
  border-bottom: 1px solid var(--color-dark-grey);
}

.mobile-menu-btn-wrapper {
  display: flex;
  align-items: center;
}

.header-mobile-menu-btn {
  position: relative;
  width: 30px;
  height: 30px;
}

.header-mobile-menu-btn::before,
.header-mobile-menu-btn::after {
  content: "";
  display: block;
  background-color: var(--color-dark);
  height: 1px;
  width: 80%;
  position: absolute;
  left: 10%;
}

.header-mobile-menu-btn::before {
  top: 33%;
}

.header-mobile-menu-btn::after {
  bottom: 33%;
}

.Header--hide {
  transform: translateY(-101%);
  pointer-events: none;
}

@media (max-width: 979px) {
  #Header-icon {
    width: 40px;
  }
}
